{% extends 'base.html' %}
{% block content %}
<div class="pos-f-t">
  <nav class="navbar navbar-expand-md navbar-light bg-dark sticky-top">
    <div class="container-fluid">
      <button id="iBtn">Pnews</button>
      <button class="navbar-toggler" 
         type="button" data-toggle="collapse" 
         data-target="#navbarTogglerDemo03" 
         aria-controls="navbarTogglerDemo03" 
         aria-expanded="false" 
         aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        {% if not g.user %}
        {% if request.endpoint != None %}            
        <li class="nav-li"><a href="/search"><span class="fa fa-search" id="searchBtn"></span></a></li>
        {% endif %}       
        <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
        <li class="nav-item"><a class="nav-link" href="/register">Sign up</a></li>    
        {% else %}
        {% for a in category %}  
        <li class="nav-item"><a class="nav-link" style="color: white;"  href="/categories/{{a.name}}/articles">{{a.name}}</a></li>      
        {% endfor %}           
        <li class="nav-item"><a class="nav-link" style="color: white;"  href="/logout">Log out</a></li>
        {% endif %} 
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid containerBody">
    <div class="row rowColor">
      <div class="col-12 col-sm-6 col-xl-4 bg-danger barHeight"></div>
      <div class="col-12 col-sm-6 col-xl-4 bg-info barHeight"></div>
      <div class="col-12 col-sm-6 col-xl-4 bg-warning barHeight"></div>
    </div>
    <div class="row">
      {% for a in article %}              
      <div class="col-12 col-sm-6 col-xl-4 maincard">         
        <div class="card">
          <img src="{{a.Image_URL}}" class="card-img-top cardimg" alt=""
          onerror="this.onerror=null;this.src='static/images/spinning-image.png';"> 
          <div class="card-body">
            <a class="card-text" href={{a.url}}>
              <p>{{a.title}}</p>
            </a>
            <small>{{a.description}}</small> 
          </div>       
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
