/* css property for nav elements */
  /* css property for searchform output page */
    .navbar-dark{
      width: 100%;
      margin-top: 3rem;
      margin-left: 1.2%;
    }

  /* css property for blue bar, ul and li's */
    .navbar-light{
      background-image: url('/static/images/nav-bg.png');
    }
    .nav-ul {
      list-style-type: none;
      overflow: hidden;
      display: flex;
      justify-content:space-evenly;
      width: 60%;
    }
    .nav-li{
      float: left;
      font-size: 15px;
      margin-top: 8px;
    }

    .nav-anchor {
      text-transform: capitalize; 
      display: block;
      color: white;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
    }

    .nav-anchor:hover{
      color:white;
      text-decoration: none;
    }
  /* css property for search icon */
    .fa-search{
      color: black;
      margin-bottom: 0;
      width: 100%;
      font-size: 13px;
    }
    .fa-search:hover {
      cursor: pointer;
    }

  /* css property for Pnews icon */
    #iBtn{
      background-color:rgb(157,90,143); 
      color:white; 
      border-radius:0.3rem; 
      font-weight:bold; 
      font-size:25px; 
      margin-left:5%; 
      border: none; 
      padding-bottom: 0.3rem;
    }

    .iBtn{
      margin-left: 5%; 
      background-color:rgb(157,90,143); 
      color: white; 
      font-size: 25px; 
      border-radius:0.3rem ; 
      font-weight: bold; 
      padding:0.3rem; 
      text-decoration: none;
    }
    .iBtn:hover{
      color: white;
      text-decoration: none;
    }

  /* css property for filter icon */
    .fa-filter{
      margin-top:15px; 
      text-decoration: none; 
      color:black;
    }


/* css property for searchform.html/filterpage.html */
  h3{
    display: flex; 
    justify-content:center; 
    color: white; 
    margin-top: 5rem;
  }

  .search-container input[type=text] {
    width: 30%;
    padding-top: 3px;
    margin-top: 8px;
    margin-left: 25%;
    font-size: 14px;
    border: white;
  }

  @media screen and (max-width: 15px) {
    .search-container {
      float: none;
    }
  .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
  }
  .search-container{
    margin-top: 3rem;

  }
  .formlabel{
    color: white;
  }



/* <<<<<<<<<< css property for data displaying data >>>>>>>>>>>>>>>> */

  h1.head-name{
  text-align: center; 
  margin-top: .3rem; 
  color: rgb(37, 150, 190); 
  text-transform: capitalize;
  }


  h3.cat-source{
    margin-left:40%;
    color: rgb(37, 150, 190); 
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    text-align: center;
  }

  .containerBody{
    width: 65%;
    margin-top: 2rem;
  }

  .searchRowcolor{
    margin-top: 0.5rem;
    width: 97.6%; 
    margin-left: 1.2%;
  }

  .rowColor{
    width: 99.6%; 
    margin-left: 0.2%;
  }
  
  .barHeight{
    height: .3rem;
  }

  .maincard{
    margin-top: 1rem;
    width: auto;
    height: 450px;
  }

  .card{
    height: 100%;
  }



  .card-text{
    color: black;
    font-weight: bold;
  }

  .card-text:hover{
      color:red;
      text-decoration: none;
  }

  .imgicon{
    width: 1.5rem; 
    height: 1.5rem;
  }


/* css property for authentication */

  p a{
    color: white;
  }

  div.userdiv{
    display: block;
  }
  .userdiv{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top:9rem;
    width: 30%;
    padding: 2rem;
    border-radius: .5rem;
    background-color: rgb(37, 150, 190);
    text-align: center;
  }

  .signupbtn{
    margin-left:65%;
  }

  .loginbtn{
    margin-left:85%;
  }

  input[type=text], select{
  background-color: rgb(194, 226, 238) ;
  }

  input[type=date], select{
  background-color: rgb(194, 226, 238) ;
  }

  input[type=password], select{
  background-color: rgb(194, 226, 238);
  }
  
  .categoryBtn{
    text-transform: capitalize; 
    background-color: none;
    text-decoration:none; 
    color: rgb(233, 217, 217); 
    font-weight: bold;
  }

  .fav-art-cmnt{
    text-align:center; 
    margin-top: 2rem; 
    color:rgb(37, 150, 190);
  }


  .titleclass{
    color:black;
  }

  .titleclass:hover{
    color:red;
  }








/* css for article/show.html */

  .cardimg{
    height: 230px;
    object-fit: cover;
  }


/* css for home/homepage.html */
  .navbar-nav {
    margin-right: 10rem;
    margin-left: auto;
  }
  
  .navbar-nav li {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .nav-link {
    font-weight: bold;
    text-transform: capitalize; 
  }
  
  @media (max-width: 768px) {
    .navbar-nav {
      margin-left: auto;
    }
    .navbar-nav li {
      margin-right: 0; 
      margin-bottom: 0.5rem;
    }
  }















